.tab-pressed {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  color: rgb(250, 217, 30);;
  border-bottom: 2px solid rgb(250, 217, 30);;
  &:hover {
    background: #320cbb;
    cursor: pointer;
  }
}