.tab-pressed {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  color: #fad91e;
  border-bottom: 2px solid #fad91e;
}
.tab-pressed:hover {
  background: #320cbb;
  cursor: pointer;
}

/*Style about section*/
.about {
  background-image: url(../images/topping.jpg);
  background-size: cover;
  background-position: left bottom;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: #320cbb;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.about #about-head {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  background: rgba(250, 217, 30, 0.76);
}
.about .text-container {
  width: 295px;
  background: rgba(253, 92, 221, 0.9);
  padding: 15px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}
.about .text-container h1 {
  font-weight: 500;
}

/* Style menu page */
@media screen and (max-width: 870px) {
  .menu-container {
    flex-direction: column;
  }
  .menu-container .items-container {
    margin: 10px auto 0;
  }
}
.menu-section {
  min-height: 60vh;
  background-image: url(../images/topping.jpg);
  background-size: cover;
  background-position: left bottom;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7vh;
  padding-top: 0;
  padding-bottom: 27.5vh;
  color: #320cbb;
  z-index: 1;
}
.menu-section h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin: 0 auto 20px;
  background: rgba(250, 217, 30, 0.76);
  width: 27vw;
  max-height: 44.5px;
}
.menu-section .menu-container {
  display: flex;
  justify-content: space-evenly;
}
.menu-section .menu-container div {
  width: 310px;
  text-align: center;
  background: rgba(253, 92, 221, 0.9);
  padding-bottom: 10px;
}
.menu-section .menu-container div h2 {
  font-family: "Oswald", sans-serif;
}
.menu-section .menu-container div pre {
  font-family: "Inter", sans-serif;
}

/* Import modules */
/*Define variables*/
/*Reset styles*/
* {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

html {
  margin: 0;
  padding: 0;
}

/*Set fonts*/
body {
  font-family: "Inter", sans-serif;
  /*Set dimensions*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  min-height: 100vh;
}

@font-face {
  font-family: "electrox";
  src: url("../fonts/electrox.ttf");
}
/*Style navbar*/
nav .navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #400dfa;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}
nav .navbar .logo {
  display: flex;
  justify-content: center;
}
nav .navbar .logo:hover {
  cursor: pointer;
}
nav .navbar .logo img {
  max-height: 100px;
  height: 11vw;
  padding-left: 10px;
}
nav .navbar .logo .logo-name {
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}
nav .navbar .logo .logo-name h1 {
  font-family: "electrox";
  font-size: 3.6vw;
  width: 20vw;
  color: #fad91e;
}
nav .navbar ul {
  list-style: none;
  display: flex;
}
nav .navbar ul li {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  color: #fad91e;
  min-width: 102px;
  text-align: center;
}
nav .navbar ul li:hover {
  background: #320cbb;
  cursor: pointer;
}

#changing-content {
  padding-bottom: 40px;
  min-height: 87.25vh;
}

.headline .slogan-container {
  margin-top: 7vh;
  background-image: url("../images/donuts.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 17vh;
  padding-bottom: 17vh;
}
.headline .slogan-container .slogan {
  display: flex;
  justify-content: center;
  color: #320cbb;
}
.headline .slogan-container .slogan .text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 42vw;
  background: rgba(253, 92, 221, 0.9);
  border-radius: 2.2px;
  padding: 15px;
}
.headline .slogan-container .slogan .text-container #donuts {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}
.headline .slogan-container .slogan .text-container #stunned {
  font-family: "electrox";
  margin-left: 15px;
  font-size: 45px;
  color: #fad91e;
}
.headline .quote-container {
  display: flex;
  justify-content: center;
  padding: 10vw auto;
  color: #320cbb;
  background-image: url(../images/topping.jpg);
  background-size: cover;
  background-position: left bottom;
  background-attachment: fixed;
}
.headline .quote-container .quote {
  display: flex;
  justify-content: center;
  width: 30%;
  border-radius: 2px;
}
.headline .quote-container .quote .text-container {
  margin: 5vw auto;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}
.headline .quote-container .quote .text-container h3 {
  padding: 54% 15px 3px;
  font-weight: 400;
  font-size: 20px;
  background-image: url("../images/eating-donuts.jpg");
  background-size: cover;
}
.headline .quote-container .quote .text-container p {
  padding: 3px 15px 15px;
  background: #320cbb;
  color: #fad91e;
  font-size: 15px;
  font-weight: 400;
}

footer {
  background: #320cbb;
  margin-top: -40px;
  clear: both;
  color: #fad91e;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  position: relative;
}
footer .copyright {
  height: fit-content;
  padding: 10px;
}
footer .copyright span {
  font-size: 15px;
}
footer .social {
  display: flex;
}
footer .social a {
  margin: auto 17px;
  font-size: 20px;
}
footer .social a:hover {
  cursor: pointer;
  color: #d3b929;
}

@media screen and (max-width: 420px) {
  .navbar {
    flex-direction: column;
  }
  .navbar ul {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
